.Navbar_div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    font-weight: bold;
}